/* Add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Start Common Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    line-height: 1.5em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1140px;
    width: 96%;
    padding: 20px 2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.fa-solid{
    color: #E03A3C;
    font-size: 1.5rem;
    padding: 10px;
}
/* End Common Styling */


/* Start Header Part */
header{
    padding: 20px 0;
}
header .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
.navbar ul li{
    display: inline;  
    padding-left: 20px;
}
.navbar ul li a{
    color: #777777;
    font-weight: bold;
    transition: 0.5s all;
}
.navbar ul li.active a{
    color: #000;
}
.navbar ul li a:hover{
    color: #000;
}
#search{
    color: #000;
    font-size: 1rem;
    padding: 10px 0;
    padding-left: 20px;
}
/* End Header Part */


/* Start Banner Part */
#banner-part{
    background: url(images/banner.jpg) no-repeat;
    background-size: cover;
    height: 450px;
}
.banner-container{
    max-width: 1140px;
    width: 96%;
    padding: 20px 2%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 40%;
    color: #fff;
}
.banner-container h2{
    font-size: 2rem;
}
#banner-part img{
    width: 100%;
    height: 500px;
}
/* End Banner Part */

/* Start Details Part */
#details-area{
    padding: 20px 0;
}
#details-area p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#details-area h3{
    padding: 0;
}
#details-area span{
    font-size: 1.2rem;
    color: green;
}
#details-area .child{
    align-self: center;
}
#details-area .child:last-child p{
    font-family: 'Poppins', sans-serif;
    color: #777777;
}
/* End Details Part */

/* Start Skill Part */
#skill-area{
    background-color: #F4F4F4;
    padding: 20px 0;
}
.architecture, .digital-Marketer, .web-designer, .web-developer, .email-designer, .web-designer, .template-designer{
    padding: 8px 0;
}
#skill-area .details{
    display: flex;
    justify-content: space-between;
    color: #777777;
    padding: 8px 0;
}
#skill-area .progressbar{
    background-color: #E8D1A7;
    width: 100%;
    height: 3px;
}
#skill-area .progressbar span{
    background-color: #F7A817;
    display: block;
    height: 3px;
}
#skill-area .architecture .progressbar span{
    width:90%;
    animation: architecture 2s;
}
@keyframes architecture{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
#skill-area .digital-Marketer .progressbar span{
    width:80%;
    animation: digital 2s;
}
@keyframes digital{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
#skill-area .web-designer .progressbar span{
    width:70%;
    animation: webDesigner 2s;
}
@keyframes webDesigner{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
#skill-area .web-developer .progressbar span{
    width:95%;
    animation: webDev 2s;
}
@keyframes webDev{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
#skill-area .email-designer .progressbar span{
    width:85%;
    animation: email 2s;
}
@keyframes email{
    0%{
        width: 0%;
    }
    100%{
        width:85%;
    }
}
#skill-area .template-designer .progressbar span{
    width:75%;
    animation: template 2s;
}
@keyframes template{
    0%{
        width: 0%;
    }
    100%{
        width:75%;
    }
}
/* End Skill Part */


/* Start Testimonial Part */
#testimonial-area{
    padding: 30px 0;
    text-align: center;
}
#testimonial-area img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#testimonial-area .child{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding: 40px 10px;
}
#testimonial-area .child p{
    color: #777777;
    font-size: 14px;
    padding: 10px 0;
}
#testimonial-area .child p strong{
    font-size: 1rem;
    padding: 5px 0;
}
/* End Testimonial Part */


/* Start Contact Part */
#contact-container{
    padding: 30px;
}
#contact-container h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    position: relative;
}
#contact-container h2::after{
    content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 5px;
	background: #e03a3c;
	bottom: -1;
	left: calc(50% - 25px);
}
.child{
    width: 100%;
}
#contact-container .child:last-child{
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;
    height: 500px;
}
.child-top{
    text-align: center;
    padding: 40px 20px;
    border-radius: 5px;
    width: 100%;
    height: 220px;
    box-shadow: 10px 10px 40px gray;
}
.child h3{
    color: #777777;
    padding: 10px;
}
.child-bottom{
    display: flex;
    column-gap: 20px;
    text-align: center;
    margin: 40px 0 0;
}
.bottom{
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    height: 240px;
}
input, textarea{
    padding: 15px 20px;
    width:100%;
    margin: 10px 0;
}
#margin-top{
    margin-top: 0;
}
.btn{
    text-align: center;
}
#submit{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #E03A3C;
}
/* End Contact Part */

/* Start Footer Part */
#footer-area{
    padding: 30px 0;
    background-color: #333333;
}
#footer-area h3{
    color: #fff;
    padding-left: 0;
}
#footer-area ul li a, p{
    color: #aaa;
}
#footer-area ul li a:hover{
    color: #fff;
}
#footer-area ul li.active a{
    color: #fff;
}
#footer-area .child:last-child i{
    color: black;
    padding: 11px 12px;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 25px;
}
#footer-area .child:last-child i:hover{
    color: #fff;
    background-color: #E03A3C;
}
#footer-area .child:last-child a{
    padding: 10px 0;
    display: inline-block;
}
/* End Footer Part */